src/xsd/ServiceBanque.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT BanqueService (conversion,getCompte,getComptes)>
<!ELEMENT conversion (montant)>
<!ELEMENT montant (#PCDATA)>
<!ELEMENT getCompte (Compte)>
<!ELEMENT Compte (code,solde,date)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT solde (#PCDATA)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT getComptes (Compte+)>
